{% extends "base.html" %}

{% block title %}Anniversaires des Membres - Club Clermont{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-12">
            <div class="bg-white p-4 shadow rounded text-center">
                <h1 class="text-primary mb-3">Anniversaires des Membres</h1>
                
                <div class="d-flex justify-content-center mb-3 d-none d-md-flex">
                    <label class="switch">
                        <input type="checkbox" id="toggle-view">
                        <span class="slider round"></span>
                    </label>
                    <span class="ms-2" id="toggle-label">Afficher Calendrier</span>
                </div>
                
                <div id="list-container">
                    <ul id="birthday-list" class="list-group"></ul>
                </div>
                <div id="calendar-container" class="d-none">
                    <div id="calendar"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- FullCalendar -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css">
    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js"></script>
    <script src="/static/script/birthdays.js"></script>
{% endblock %}
