{% extends "base.html" %}

{% block title %}Accueil - Club Clermont{% endblock %}

{% block content %}
    <div class="row">
        <!-- Gestion des membres -->
        <div class="{% if 'user' in session and session['is_admin'] %}col-md-8{% else %}col-md-8 offset-md-2{% endif %}">
            <div class="bg-white p-4 shadow rounded">
                <h1 class="text-primary mb-3">Gestion des membres</h1>

                <div class="mt-4 mb-3">
                    <h2 class="text-primary">Liste des membres</h2>
                    <div class="scrollable-list">
                        <ul id="members-list" class="list-group grid-list"></ul>
                    </div>
                </div>

                <div class="mb-3 d-flex">
                    <input id="member-input" type="text" placeholder="Nouveau membre" class="form-control me-2" />
                    <input type="date" id="birthdays-input" placeholder="Anniversaires" class="form-control me-2">

                    <button id="add-member-button" class="btn btn-primary">Ajouter</button>
                </div>

                <button id="submit-button" class="btn btn-secondary m-1">Participe</button>
                <button id="delete-member-button" class="btn btn-danger m-1">Supprimer</button>

                <div class="mt-4">
                    <h2 class="text-primary">Membres présents ce samedi</h2>
                    <div class="scrollable-list">
                        <ul id="presence-list" class="list-group grid-list"></ul>
                    </div>
                    <button id="delete-presence-button" class="btn btn-danger mt-2">Supprimer</button>
                </div>
            </div>
        </div>

        <!-- Section Admin (affichée uniquement si Admin) -->
        {% if "user" in session and session["is_admin"] %}
            <div class="col-md-4 mt-3 mt-md-0">
                <div class="bg-white p-4 shadow rounded">
                    <h1 class="text-danger">Admin</h1>
                    <a href="/register" class="btn btn-secondary my-2 w-100">S'inscrire</a>
                    <div class="mt-4">
                        <h2 class="text-secondary">Membres supprimés</h2>
                        <div class="scrollable-list">
                            <ul id="delete-members-list" class="list-group grid-list"></ul>
                        </div>
                        <button id="restore-member-button" class="btn btn-danger mt-2">Restaurer</button>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
